*,
html,
body{
    padding: 0;
    margin: 0;

    font-family: poppins;
}

/* navbar START */
nav{
    min-width: 100%;
    min-height: 100px;

    max-width: 50%;
    max-height: 600px;

    background-image: 
        url("../img/nav/navbar.jpeg");
    background-size: cover;
    /* filter:brightness(50%);  */
}

nav .container{
    padding: 10px;
}

nav .container ul{
    display: flex;
    justify-content: space-evenly;
}

nav .container ul li{
    list-style-type: none;
}

/* nav .container ul li .judul{
    color: black;  
    font-size: 24px;
    text-decoration: none;
} */

nav .container ul li .judul{
    display: flex;
    justify-content: center;
}

nav .container ul li .judul img{
    width: 40%;

    /* border-radius: 20px;
    background-color: rgb(32, 72, 85); */
} 
        /* Menu START */
        .menu{
            width: 100%;            
            background-color: black;

            position: sticky;
            top: 0;

        }

        .menu .container{
            padding: 10px;
        }

        .menu .container ul{
            display: flex;
            justify-content: space-evenly;
        }

        .menu .container ul li a{
            color: white;
            padding: 10px;
        }.menu .container ul li a:hover{
            color: lightblue;

            text-decoration: underline;
            text-underline-offset: 10px;
        }
        /* Menu END */

/* navbar END */


/* Marquee START */
.marquee{
    width: 100%;
    background-color: rgb(44,125,255);

    position: sticky;
    top: 0;
}

.marquee .container{
    padding: 5px;
}

.marquee .container p{
    color: white;
}

/* Marquee END */


/* Hero START */
.hero{
    width: 100%;
}

.hero .container{

}

.hero .container img{
    width: 100%;
    background-color: white;
    min-height: 300px;
    max-height: 500px;

    object-fit: contain;
}
/* Hero END */


/* Content START */
.content{
    width: 100%;
}

.content .container{
    padding: 10px;
}

.content .container .content-text{
    min-width: 80%;
    max-width: 80%;

    margin: 0 auto;
    display: block;}

.content .container ul{
    padding: 10px;
}

.content .container ul ul{
    padding: 20px;
}
/* Content END */


/* Visi dan Misi START */
.visi{
    width: 100%;
}

.visi .container{
    padding: 10px;
}

.visi .container .visi{
    color: white;
    background-color: rgb(44,125,255);
} .visi .container .misi{
    color: white;
    background-color: rgb(44,125,255);
}

.visi .container ul{
    display: flex;
}

.visi .container ul img{
    width: 100%;
}

/* Visi dan Misi END */




/* Berita START */
.berita{
    width: 100%;
}

.berita .container{
    padding: 10px;
}

.berita .container ul{
    display: flex;
    flex-wrap: wrap;
}

.berita .container ul a{
    padding: 5px;
}.hero .container ul .pertama{
    box-shadow: 0 0 10px 1px;
}

.berita .container ul a img{
    width: 100%;
    min-height: 300px;
    max-height: 500px;

    object-fit: cover;
}

.berita .container ul a img:hover{
    box-shadow: 0 0 10px 1px blue;
}

/* Berita END */