*,
html,
body{
    padding: 0;
    margin: 0;

    font-family: poppins;
}

/* navbar START */
nav{
    min-width: 100%;
    min-height: 100px;

    max-width: 50%;
    max-height: 600px;

    background-image: 
        url("../img/nav/navbar.jpeg");
    background-size: cover;
    /* filter:brightness(50%);  */
}

nav .container{
    padding: 10px;
}

nav .container ul{
    display: flex;
    justify-content: space-evenly;
}

nav .container ul li{
    list-style-type: none;
}

/* nav .container ul li .judul{
    color: black;  
    font-size: 24px;
    text-decoration: none;
} */

nav .container ul li .judul{
    display: flex;
    justify-content: center;
}

nav .container ul li .judul img{
    width: 40%;

    /* border-radius: 20px;
    background-color: rgb(32, 72, 85); */
} 
        /* Menu START */
        .menu{
            width: 100%;            
            background-color: black;

            position: sticky;
            top: 0;

        }

        .menu .container{
            padding: 10px;
        }

        .menu .container ul{
            display: flex;
            justify-content: space-evenly;
        }

        .menu .container ul li a{
            color: white;
            padding: 10px;
        }.menu .container ul li a:hover{
            color: lightblue;

            text-decoration: underline;
            text-underline-offset: 10px;
        }
        /* Menu END */

/* navbar END */


/* Marquee START */
.marquee{
    width: 100%;
    background-color: rgb(44,125,255);

    position: sticky;
    top: 0;
}

.marquee .container{
    padding: 5px;
}

.marquee .container p{
    color: white;
}

/* Marquee END */


/* Hero START */
.hero{
    width: 100%;
}

.hero .container{

}

.hero .container img{
    width: 100%;
    background-color: white;
    min-height: 300px;
    max-height: 500px;

    object-fit: contain;
}
/* Hero END */


/* Content START */
.content{
    width: 100%;
}

.content .container{
    padding: 10px;
}

.content .container .content-text{
    min-width: 80%;
    max-width: 80%;

    margin: 0 auto;
    display: block;
}

.content .container .content-text h2::selection{
    background-color: lightblue;
}

.content .container .content-text ul p::selection{
    background-color: lightblue;
}

.content .container .content-text h3::selection{
    background-color: lightblue;
}

.content .container ul{
    padding: 10px;
}

.content .container ul ul{
    padding: 30px;
}

.content .container ul ul li{
    padding: 2px;
    font-size: 1em;
}

.content .container ul ul li::selection{
    background-color: lightblue;
}


/* Content END */


/* Tujuan START */
    .tujuan{
        width: 100%;
    }

    .tujuan .container{
        min-width: 80%;
        max-width: 80%;
    
        margin: 0 auto;
        display: block;
        padding: 10px;
    }

    .tujuan .container h2{
        
    }

    .tujuan .container ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tujuan .container ul a{
        padding: 5px;
    }

    .tujuan .container ul a img{
        width: 100%;
    }
/* Tujuan END */

/* Berita START */
.berita{
    width: 100%;
}

.berita .container{
    padding: 10px;
}

.berita .container h2::selection{
    background-color: lightblue;
}

.berita .container ul{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.berita .container ul a{
    padding: 5px;
}.hero .container ul .pertama{
    box-shadow: 0 0 10px 1px;
}

.berita .container ul a img{
    width: 100%;

    /* 300 px */
    min-height: 300px;
    max-height: 300px;
    /* 500px */
    
    object-fit: cover;
}

.berita .container ul a img:hover{
    box-shadow: 0 0 10px 1px blue;
}
/* Berita END */

/* Conact START */
.contact{
    width: 100%;
    background-color: green;
}

.contact .container{
    padding: 10px;
}

.contact .container h2{
    color: white;
    text-align: center;
}

.contact .container ul{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.contact .container ul li{
    padding: 2px;

    list-style-type: none;
}

.contact .container ul li a{
    color: white;
    padding: 20px;

    text-decoration: underline;
    text-underline-offset: 10px;
}.contact .container ul li a:hover{
    color: rgb(194, 194, 194);
    text-underline-offset: 5px;
}


.contact-detail{
    width: 100%;
}

.contact-detail .container{
    margin: 10px;
    min-width: 80%;
    max-width: 80%;

    margin: 0 auto;
    display: block;
    padding: 10px;
}

.contact-detail .container ul{
    margin: 10px;
}

.contact-detail .container ul p iframe{
    width: 100%;
}


.contact-detail .container ul a{

}.contact-detail .container ul a img{
    width: 10%;
}
/* Conact END */

/* Footer START */
.footer{
    width: 100%;
    background-color: green;
}

.footer .container{
    padding: 10px;
}

.footer .container p{
    color: white;
    text-align: center;
}
/* Footer END */

/* WA START */
.wa{
    width: 100%;
    position: fixed;
    bottom: 0;

    transition: all ease 10ms;
    filter: grayscale(100%)
}.wa:hover{
    filter: none;

    transition: all ease-in-out 50ms;
}

.wa .container{
    padding: 10px;
}

.wa .container ul{
    display: flex;
    justify-content: end;
}

.wa .container ul a{
    padding: 10px;
    text-align: end;

}

.wa .container ul a img{
    width: 20%;
}
/* WA END */